@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap');

body {
    padding: auto;
    margin: auto;
    display: flex;
}

section {
    display: flex;
    text-align: center;
    font-family: 'Tangerine', cursive, sans-serif;

    color: orange;
    font-size: 50px;
    float: left;
    height: 100vh;
    width: 600px;
    background-color: aqua;
    background: url("Assets/CG19.jpg") center no-repeat;
    background-size: cover;
}

span {
    /* background-size: contain;  */
    background-color: rgba(80, 80, 80, 0.2);
}

main {
    background-color: pink;
}

form {
    background-color: gold;
}
fieldset {
    background-color: purple;
}