@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap');

body {
    /* padding: auto; */
    margin: auto;
    display: flex;
}

section {
    display: flex;
    text-align: center;
    font-family: 'Tangerine', cursive, sans-serif;

    color: orange;
    font-size: 50px;
    float: left;
    height: 100vh;
    width: 600px;
    background-color: aqua;
    background: url("Assets/CG19.jpg") center no-repeat;
    background-size: cover;
}

h1 {
    margin: 100px auto;
    background-color: rgba(80, 80, 80, 0.2);
    height: max-content;
    width: 100%;
}
span {
    background-size: contain; 

    display: block;
    /* background-color: rgba(80, 80, 80, 0.2); */
}

main {
    background-color: pink;
    padding: 15px;
}

form {
    background-color: gold;
}
fieldset {
    background-color: purple;
}

footer {
    background-color: aqua;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%
}


.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: auto
}

.child {
    display: inline;
    flex: 1; 
    margin: 0 1em
}

/*validation styles*/

input.valid {
    border-color: greenyellow;
}

input.invalid {
    border-color: orangered;
}

input + p {
    font-family: arial;
    font-size: 0.8em;
    font-weight: bold;
    text-align: center;
    margin: 0;
    color: orange;
    opacity: 0;
    height: 0
}

input.invalid + p {
    opacity: 1;
    height: auto;
    margin-top: 10px
}






